h1 {
    font-family: "Open Sans Light";
    margin-left: 30px;
}
h3 {
    font-family: "Open Sans Light";
    margin-left: 30px;
}
h3>a {
    color: rgb(51, 51, 51) !important;
    text-decoration: none;
}
h3>a:hover {
    text-decoration: none;
}
#gpl>p>strong, #gpl>dl>dd>strong {
    font-family: "Open Sans Light";
    font-weight: normal;
}
.line {
    width: 8vw;
    background-color: rgb(51, 51, 51);
    height: 1px;
    margin-left: 14px;
}